completedTutorials=[
    introduction,
    "sculpt_draw_tool",
    "magic_select_tool",
    "box_select_tool",
    selection
]
customDowngradeSuggestions=[]
globalScale=1
lastTranslationCount=32714
openEditorWindowTypes=[
    tools,
    "tool_options",
    palette,
    "active_block",
    history,
    "world_properties",
    clipboard,
    "target_info"
]
rootEditorPalette {
    blocks=[]
}
savedCustomTheme="ASel0AAAlJbUd1aURhcmsAAA=="
showCloseWindowButton=false
